.context {
  width: 100px;
  height: 80px;
  display: flex;
  padding: 10px;
  position: fixed;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.19);
}
.context11green {
  padding: 3px;
  cursor: pointer;
}
.context11green:hover {
  color: green;
}

.context11yellow {
  padding: 3px;
  cursor: pointer;
}
.context11yellow:hover {
  color: blue;
}

.context11red {
  padding: 3px;
  cursor: pointer;
}
.context11red:hover {
  color: red;
}
.context11bg {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.context11showinfo {
  width: 400px;
  height: 120px;
  padding: 60px;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 25%;
  margin-left: 45%;
}

.context11infor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.context11id {
  padding: 3px;
}
.context11btnv {
  margin-left: 380px;
  margin-top: -40px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #0177bd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.context11btnv:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 768px) {
  .context11showinfo {
    margin-top: 300px;
    margin-left: 25%;
    width: 200px;
  }
  .context11btnv {
    margin-left: 220px;
    margin-top: -20px;
  }
}
